<!doctype html>
<html>
<head>
<title>One True Repo - Merged API for GitHub and Bitbucket</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="main">
    <a href="http://github.com/stephenmcd/otr">
        <img class="fork" src="/forkme.png" alt="Fork me on GitHub">
    </a>
    <div class="inner"><%= yield %></div>
</div>
</body>
</html>
